<h2><%= @shelter_information.name %></h2>
<h2><%= @shelter_information.full_address %></h2>
<section class='statistics'>
  <h3>Statistics:</h3>
  <p>Average Adoptable Pet Age: <%= @shelter.average_age %></p>
  <p>Count of Adoptable Pets: <%= @shelter.adoptable_pet_count %></p>
</section>
