<h3><%= header %></h3>
<% @shelter.action_required_pets.each do |pet| %>
<p><%= pet.name %>
  <% pet.applicants_pending.each do |applicant| %>
    <%= link_to "Go to Application", "/admin/applicants/#{applicant.id}" %></p>
  <% end %>
<% end %>
