<h1>Shelters</h1><hr>
<% @shelters.each do |shelter| %>
  <section id="shelter-<%=shelter.id%>">
    <h3><%= link_to "#{shelter.name}", "/admin/shelters/#{shelter.id}" %></h3>
  </section>
<% end %>
<section class="pending-applicants">
  <%= render partial: 'each', locals: { header: 'Shelters with Pending Applications:',
                                                      array: @pending_applicants } if @pending_applicants %>
</section>
