<h2><%= @shelter_information.name %></h2>
<h2><%= @shelter_information.full_address %></h2>

<section class='statistics'>
  <%= render partial: "statistics", locals: { header: "Statistics:" } %>
</section>

<section class='action-required'>
  <%= render partial: "action_required", locals: { header: "Action Required" } %>
</section>
